.navbar{
    margin-bottom: 0px;
    position:fixed;
    /* overflow: hidden; */
    width: 100%;
}

#bannerImage{
    padding-top:75px;
    padding-bottom:50px;
    margin-bottom: 20px;
    text-align:center;
    color:#f8f8f8;
    background:url(../img/banner.jpg);
    background-size:cover;
  
}

#bannerContent{
    position:relative;
    padding-top:6%;
    padding-bottom:6%;
    margin-top:12%;
    margin-bottom:12%;
    background-color:rgba(0,0,0,0.2);
    max-width:660px;
    /* opacity: 0.2; */
}



.plus-minus{
    display: inline;
}

.footers { 
    position: absolute; 
    bottom:0; 
    right:0;
    left:0;
}

html { 
    min-height:100%;
    position:relative;    
} 


.footer{
    background-color:#2d2626;
    color:#f1eded;
    font-size:14px;
    font-weight:bold;
    padding:10px;    
    bottom:0;
}
.connected{
    color: rgb(252, 246, 246);
    margin-top: 12px;
    margin-left: 10px;

}
.conn{
    width:250px;
    padding-top:5px;
    border-style:solid;
    border-color:#336699;
    border-width:1px;
    padding-left:3px;
    padding-bottom:10px;
    margin-left: 250px;
    
}
.footer_class{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

@media (min-width:320px){
    #autoResize{
        font-size:12px;
    }
}
@media (min-width:481px){
    #autoResize{
        font-size:16px;
    }
}
@media (min-width:641px){
    #autoResize{
        font-size:18px;
    }
}
@media (min-width:961px){
    #autoResize{
        font-size:20px;
    }
}
@media (min-width:1000px){
    #autoResize{
        font-size:26px;
    }
}


